@model Object

@{
    Layout = "_Layout";
}

<div class="text-center container align-content-center cent">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">Личный кабинет</h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div class="container col-4">
    <div style="margin-top: 50px">
        <div class="row">
            <div class="col-4">
                <div style="width: 100px; height: 100px; background-color: white">
                    <img style="width: 100px; height: 150px;" src="/images/122311.gif">
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <p style="text-align: left" class="text-white">
                            Имя:
                        </p>
                        <p style="text-align: left" class="text-white">
                            Телефон:
                        </p>
                        <p style="text-align: left" class="text-white">
                            Почта:
                        </p>
                        <p style="text-align: left" class="text-white">
                            Карта клиента:
                        </p>
                    </div>
                    <div class="col-8">
                        <p class="text-white">
                            Панас
                        </p>
                        <p class="text-white">
                            88005553535
                        </p>
                        <p class="text-white">
                            ииииииии.gmail.com
                        </p>
                        <p class="text-white">
                            123456
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @* <div> *@
        @*     <buton style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">ЗАПИСАТЬСЯ НА ПРИЁМ</buton> *@
        @* </div> *@

        <button style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">ЗАПИСАТЬСЯ НА ПРИЁМ</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    @*<div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    </div>*@
                    <div class="modal-body bg-dark text-white">
                        <div class="row">
                            <div class="col-6">
                                <button style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#ManikModal">МАНЬЯК ЮРА</button>
                                <div class="modal fade" id="ManikModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div id="BukzaContainer15049"></div>
                                            <script type='text/javascript' src='https://public.bukza.com/api/script/generate/16338/15049/BukzaContainer15049'></script>

                                            <div id="BukzaContainer15049"></div>
                                            <script type='text/javascript'>
                                                 (function(){
                                                           var d = document;
                                                           var w = window;
                                                                function l() {
                                                                   var s = d.createElement('script');
                                                                 s.type = 'text/javascript';
                                                                 s.async = true;
                                                                 s.src = 'https://public.bukza.com/api/script/generate/16338/15049/BukzaContainer15049?t=' + (new Date().getTime());
                                                                   var ss = d.getElementsByTagName('script')[0];
                                                                  ss.parentNode.insertBefore(s, ss);
                                                         }
                                                          if (d.readyState == 'complete') {
                                                                 l();
                                                         } else {
                                                                 w.addEventListener('load', l, false);
                                                         }
                                                 })();
                                          </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#TransgenderModel">ПЕДИК ЮРА</button>
                                <div class="modal fade" id="TransgenderModel" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div id="BukzaContainer15049"></div>
                                            <script type='text/javascript' src='https://public.bukza.com/api/script/generate/16338/15049/BukzaContainer15049'></script>

                                            <div id="BukzaContainer15049"></div>
                                            <script type='text/javascript'>
                                                (function(){
                                                    var d = document;
                                                    var w = window;
                                                    function l() {
                                                        var s = d.createElement('script');
                                                        s.type = 'text/javascript';
                                                        s.async = true;
                                                        s.src = 'https://public.bukza.com/api/script/generate/16338/15049/BukzaContainer15049?t=' + (new Date().getTime());
                                                        var ss = d.getElementsByTagName('script')[0];
                                                        ss.parentNode.insertBefore(s, ss);
                                                    }
                                                    if (d.readyState == 'complete') {
                                                        l();
                                                    } else {
                                                        w.addEventListener('load', l, false);
                                                    }
                                                })();
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" class="text-white container btn btn-dark btn-sm" type="submit" value="Выход"/>
        </form>
    </div>
</div>