# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Naiils-Salon2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\peron\floobits\share\DimoniDEX\Nails_Salon-main\Naiils-Salon2\.idea\.idea.Naiils-Salon2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
