<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Nails_Salon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary bg-dark border-bottom box-shadow mb-3" style="border-color: #f47994 !important; border-width: 3px !important; background-color: #000000 !important;">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img  class="img-fluid" src="images/logo.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li style="margin: 10px !important; margin-top: 20px !important;" class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                            <h4>
                                Услуги и цены
                            </h4>
                        </a>
                    </li>
                    <li style="margin: 10px !important; margin-top: 20px !important;" class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <h4>
                                Контакты
                            </h4>
                        </a>
                    </li>
                    <li style="margin: 10px !important; margin-top: 20px !important;" class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <h4>
                                Соц. сети
                            </h4>
                        </a>
                    </li>
                    <li style="margin: 10px !important; margin-top: 20px !important;" class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <h4>
                                Сувенирная продукция
                            </h4>
                        </a>
                    </li>
                    <li style="margin: 10px !important; margin-top: 20px !important;" class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <h4>
                                Карта клиента
                            </h4>
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" style="background-color: black !important;">
  <!-- Grid container -->
  <div class="row">
      <div class="col">
          <img style="width: 150px; margin-top: 40px; margin-left: 200px" src="images/logo.png">
      </div>
      <div style="margin-top: 50px" class="col-3">
          <h2>Связь с нами</h2>
          <p>+38(095) 321 67 401<br>
              +38(068) 321 67 401</p>
      </div>
      <div style="margin-top: 50px" class="col-3">
          <h2>Наш адрес:</h2>
          <p>г. Харьков, ул. Пушкина 34<br>
              Пн. - Сб. 10:00 - 21:00</p>
      </div>
      <div class="col-3">
      </div>
  </div>
  <hr style="border: 1px; solid:#333333 !important; opacity: unset !important; margin-top: 30px;"/>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Разработка и поддержка сайта: Bredun Dmytro</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html> 