# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Nails_Salon-main.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\peron\floobits\share\DimoniDEX\Nails_Salon-main\.idea\.idea.Nails_Salon-main.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
