@model dynamic

@{
    Layout = "_Layout";
}

<div class="text-center container align-content-center cent" style="margin-top: -50px !important;">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">КАРТА КЛИЕНТА</h1>
    <p style="font-family: DefaultFont, serif !important; margin-top: -10px;font-size: 20px" class="text-white">Сделайте походы в салон выгоднее с картой постоянного клиента</p>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div class="container">
    <img class="center-block" src="/images/card.png">
</div>

<div class="text-white">
    <br>
    <h2 style="font-size: 30px">Карта клиента - это накопительная скидочная карта. С её помощью вы можете секономить при посещени салона. Мы стараямся чтобы наши клиенты получали только позитивные эмоции от нашего салона, поэтому секономить на любимой процедуре станет проще с нашей картой.<br><br>

        Скидка увеличивается на 1% после достижения 5 посищкений салона. Максимальная скидка которую можно получить - 7% (Скидка по карте клиента не сумируется со скидкой акционныйх предложений). В ваш день рождения, к вашей текущей скидке, начисляется еще 5%, данный бонус действует только в этот день, после чего анулируется. Скидка действует только на услуги салона и не распростроняется на сувенирную продукцию.<br><br>

        Ею пользоваться могут не только вы, но и ваши родные и близкие. Карта оформляется на вас, но ею может пользоваться кто угодно, посещения будут начилсяться! Так же у нас приятный бонус для тех, кто приводит к нам друзей. Если вы являетесь владельцем карты клиента и ваш знакомый решит тоже оформить карту, он может сказать, что по рекомендациям от вас, и вы получите бесплатно фирменный значок или магнитик нашего салона!<br><br>

        В случае утери карты клиента, вы можете обратиться на ресепшен, для оформления новой. При этом, старая блокируется и все бонусы с неё будут перенесены на вашу новую карту.</h2>
</div>