@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center container align-content-center cent" style="margin-top: -50px !important;">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">Контакты</h1>
    <p style="font-family: DefaultFont, serif !important; margin-top: -10px;" class="text-white">Остались вопросы? Задайте их нам!</p>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div style="margin-right: -200px !important; margin-left: -200px !important;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20518.585967096897!2d36.0241789398887!3d49.995923220509724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412798626d321d15%3A0xe162ae39bb16f654!2z0KHQvtC70L7QvdC40YbQtdCy0LrQsCwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjIzNjg!5e0!3m2!1sru!2sua!4v1617716147706!5m2!1sru!2sua" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="container" style="background-color: black">
    <div class="row">
        <div class="col-7">
            <h1 class="text-white">КОНТАКТЫ МАНИКЮРНОГО САЛОНА N.A.I.L.S.</h1>
            <div class="row">
                <div class="col-6">
                    <h1 class="text-white">
                        АДРЕС
                    </h1>
                    <p class="text-white">
                        г. Харьков, ул. Пушкина 34
                    </p>
                    <h1 class="text-white">
                        ВРЕМЯ РОБОТЫ
                    </h1>
                    <p class="text-white">
                        Пн - Сб 10:00 - 21:00
                    </p>
                </div>
                <div class="col-6">
                    <h1 class="text-white">
                        ТЕЛЕФОН
                    </h1>
                    <p class="text-white">
                        +38 (050) 921-20-30
                    </p>
                    <p class="text-white">
                        +38 (097) 997-97-66
                    </p>
                    <h1 class="text-white">
                        EMAIL
                    </h1>
                    <p class="text-white">
                        nailskh@gmail.com
                    </p>
                </div>
            </div>
            <div style="width: 100%; height: 300px; background-color: white"></div>
        </div>
        <div class="col-5">
            <h1 class="text-white">
                НАПИШИТЕ НАМ
            </h1>
            <form>
                <div class="form-group">
                    <label class="text-white" for="formGroupExampleInput">Имя</label>
                    <input style="background: transparent !important; font-size: 20px" type="text" class="text-white form-control" id="formGroupExampleInput" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <label class="text-white" for="formGroupExampleInput2">Телефон</label>
                    <input style="background: transparent !important; font-size: 20px " type="text" class="text-white form-control" id="formGroupExampleInput2" placeholder="Ваш телефон">
                </div>
                <div>
                    <button style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Записаться на приём</button>
                </div>
            </form>
        </div>
    </div>
</div>