@model dynamic

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    <link rel="stylesheet" href="/css/ClockAnimated.css"/>
}

<div class="container">
    <div class="text-white">
        <h1>Сначала закажи а потом выёбуйся</h1>
    </div>
</div>