@model Object

@{
    ViewBag.Title = "a";
    Layout = "_Layout";
}

<div class="text-center container align-content-center cent" style="margin-top: -50px !important;">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">Сувенирная продукция</h1>
    <p style="font-family: DefaultFont, serif !important; margin-top: -10px;font-size: 20px" class="text-white">Мелочи котрые украсят вашу жизнь</p>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                <img src="/images/mag.png" class="center-block"  alt="" style="padding-top:5px">
                <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                    50х50 мм</h1>
                <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
            </div>
            
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                <img src="/images/pin.png" class="center-block" style="padding-top:5px">
                <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                    50х50 мм</h1>
                <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
            </div>
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                <img src="/images/cup.png" class="center-block" style="padding-top:5px">
                <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                    50х50 мм</h1>
                <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
            </div>
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                <img src="/images/stick.png" class="center-block" style="padding-top:5px">
                <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                    50х50 мм</h1>
                <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
            </div>
        </div>
    </div>
    
    <h1 style="font-family: Fulbo, serif !important; margin-top: 40px; text-align: center" class="text-white">Лаки</h1>
    <br>

    <div class="row">
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                            <img src="/images/mag.png" class="center-block" style="padding-top:5px">
                            <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                                50х50 мм</h1>
                            <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                            <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
                        </div>
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                            <img src="/images/mag.png" class="center-block" style="padding-top:5px">
                            <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                                50х50 мм</h1>
                            <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                            <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
                        </div>
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                            <img src="/images/mag.png" class="center-block" style="padding-top:5px">
                            <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                                50х50 мм</h1>
                            <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                            <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
                        </div>
        </div>
        <div class="col-3">
            <div style="background-color: black; width: 255px; height: 420px">
                            <img src="/images/mag.png" class="center-block" style="padding-top:5px">
                            <h1 style="text-align: center; font-size: 25px; color: white;">Магниты на холодос<br>
                                50х50 мм</h1>
                            <h1 style="font-family: Fulbo; font-size: 30px; text-align: center;color: white;">50грн</h1>
                            <button style=" border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Купи</button>
                        </div>
        </div>
    </div>
</div>