@model dynamic

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="/css/DotsStyle.css"/>
}

<div class="text-center container align-content-center cent" style="margin-top: -50px !important;">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">УСЛУГИ И ЦЕНЫ</h1>
    <p style="font-family: DefaultFont, serif !important; margin-top: -10px;font-size: 20px" class="text-white">Высокое качество, разумные цены</p>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div class="container text-white" style="font-size: 20px;">
    <ul class="leaders" style="margin-left: 225px !important;">
            <h1 style="font-family: Fulbo; margin-top: 50px; font-size: 40px">Маникюр</h1>
        <li><span>Классический обрезной</span>
        <span>7.95</span>
        <li><span>Европейский</span>
        <span>8.95</span>
        <li><span>Аппаратный</span>
        <span>7.95</span>
        <li><span>Японский</span>
        <span>5.25</span>
        <li><span>Покрытие гель-лаком</span>
        <span>5.25</span>
        <h1 style="margin-top: 50px"></h1>
            <h1 style="font-family: Fulbo; font-size: 40px">Педикюр</h1>
        <li><span>Классический</span>
        <span>8.95</span>
        <li><span>Европейский</span>
        <span>7.95</span>
        <li><span>Комбинированный</span>
        <span>5.25</span>
        <li><span>Аппаратный</span>
        <span>10.95</span>
        <li><span>SPA-педикюр</span>
        <span>5.25</span>
    </ul>
</div>
<div style="height: 500px"></div>
