@model Object

@{
    Layout = "_Layout";
}

<div class="text-center container align-content-center cent" style="margin-top: -50px !important;">
    <h1 style="font-family: Fulbo, serif !important; margin-top: 100px" class="text-white">Соц. сети</h1>
    <p style="font-family: DefaultFont, serif !important; margin-top: -10px;font-size: 20px" class="text-white">Подписывайтесь на наш блог в социальной сети Instagram</p>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <hr style="border: 2px solid #f47994 !important; opacity: unset !important; margin-top: -10px;"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-2">
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
        <div class="col-3">
            <img src="/images/122311.gif">
        </div>
    </div>
</div>

<div class="container">
    <button style="margin-top: 20px; border-color: #f47994 !important; border-radius: 5px !important; border-width: 3px !important; background-color: #000000 !important; font-family: Fulbo, serif; font-size: 20px;" type="button" class="container btn btn-dark btn-sm">Инстаграм закрывается по причине ненужности</button>
</div>